<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contenu</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Conférences</h3>
                    <p class="text-muted">Rencontrez les conférenciers venus présenter des projets Libres de Sécurité, des sujets Sécurité à propos de Logiciels Libres ou des Standards Ouverts ! <br><b>Les conférences sont données en langue anglaise</b> afin de permettre la venue de conférenciers.ières étrangers.ères de manière la plus confortable possible.<br>
Vous ne voyez pas de quoi nous vous parlons ? Jetez un coup d'&oelig;il au contenu des années précédentes et aux <a href="/resultats/#speakers">conférenciers.ières qui y sont venus y parler</a> !</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Rencontres</h3>
                    <p class="text-muted">Echangez des expériences, faites de nouvelles rencontres avec des conférenciers et un public venant d'univers aussi différents que l'hacktivisme, le milieu professionnel de la Sécurité, le reverse ou le militantisme du Logiciel Libre.<br><br>
De plus, ces échanges se dérouleront dans un lieu unique facilitant les échanges le tout dans une atmosphère chaleureuse et ouverte :)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sponsors" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <br />
            </div>
        </div>
    </div>
    <hr style="height: 8px; color: #839D2D; background-color: #839D2D; width: 70%; border: none;">
    <br>    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sponsors PLATINIUM</h3>
                    <p class="text-muted"><i>Aucun pour le moment. Vous ?</i></p>
                    <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
                    <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sponsors GOLD</h3>
                    <p class="text-muted"><i>Aucun pour le moment. Vous ?</i></p>
                    <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
                    <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sponsors SILVER</h3>
                    <p class="text-muted"><i>Aucun pour le moment. Vous ?</i></p>
                </div>
            </div>
             <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                  <hr style="height: 8px; color: #839D2D; background-color: #839D2D; width: 70%; border: none;">
                  <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-file wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Support</h3>
                    <p class="text-muted"><a href="/files/sponsors/Sponsoring-Pass-the-SALT-2018-FR_v1.3.pdf">Document de Sponsoring</a></p>
                </div>
            </div>
        </div>
    </div>

</section>
