<section id="about" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contents</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Conferences</h3>
                    <p class="text-muted">Meet speakers coming to expose Free Software projects for Security purposes, Security topics in <b>Free Software</b> projects or open standards dealing with <b>Security</b> ! <br><b>All the talks will be given in English</b> in order to share the conference with non French speaking speakers in the more confortable manner.<br>
You don't see what we are talking about ? Have a look to previous editions contents and <a href="/achievements/#speakers">speakers who came to speak</a> !</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Networking</h3>
                    <p class="text-muted">Exchange experiences, set up new relationships with accessibles attendees and speakers coming from very various areas from hackitivists to professional security reversers or Free Software enthusiasts.<br><br>
Moreover these exchanges will be done in a beautiful place and in a warm and open-minded ambiance :)</p>
                </div>
            </div>
<!--            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section id="sponsors" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <br />
            </div>
        </div>
    </div>
    <hr style="height: 8px; color: #839D2D; background-color: #839D2D; width: 70%; border: none;">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i>
                    <h3>PLATINIUM sponsors</h3>
                    <p class="text-muted"><i>None for the moment. You?</i></p>
                    <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
                    <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i>
                    <h3>GOLD sponsors</h3>
                    <p class="text-muted"><i>None for the moment. You?</i></p>
                    <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
                    <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i>
                    <h3>SILVER sponsors</h3>
                    <p class="text-muted"><i>None for the moment. You?</i></p>
                </div>
            </div>
             <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                  <hr style="height: 8px; color: #839D2D; background-color: #839D2D; width: 70%; border: none;">
                  <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-file wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Support</h3>
                    <p class="text-muted"><a href="/files/sponsors/Sponsoring-Pass-the-SALT-2018-EN_v1.3.pdf">Sponsoring Document</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
